.container {
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.wrap__img {
    width: 300px;
}
.title {
    font-size: 35px;
}
.descr  {
    font-size: 20px;
    width: 500px;
    margin-bottom: 25px;
}
.btn {
    width: 180px;
    height: 39px;
    font-size: 18px;    
    border: none;
    background-color: rgb(188, 188, 188);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: rgb(151, 147, 147);
        transition: .5s all;
    }
}
.total {
    margin-left: 25px;
    font-size: 25px;
    font-weight: 700;
}
.flex {
    display: flex;
}
.mrg {
    margin-left: 40px;
}

@media (max-width: 991px) {}
@media (max-width: 768px) {
    .flex {
        justify-content: space-between;
    }
    .total {
        margin-right: 25px;
    }
}
@media (max-width: 575px) {
    .container {
        justify-content: center;
    }
    .total {
        font-size: 22px;
    }
}
@media (max-width: 345px) {
    .mrg {
        margin-left: 5px;
        margin-top: 25px;
    }
    .total {
        margin-right: 5px;
        font-size: 21px;
    }
}