.home {
    font-size: 22px;
    color: rgb(94, 93, 93);
    &:hover {
        border-top: 1px solid rgb(90, 89, 89);
    }
}
.nav__menu {
    width: 90%;
    margin: 0 auto;
}
.background {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.nav {
    display: flex; 
    height: 60px;
    align-items: center;
}
.category {
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
}
.category__items {
    margin-right: 15px;
    font-size: 22px;
    &:hover {
        border-top: 1px solid rgb(90, 89, 89);
    }
}