.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrap {
    width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px 10px 0;
    padding: 0 30px;
    padding-bottom: 10px;
}
.title {
    font-size: 18px;
    font-weight: 600;
}
.img {
    object-fit: contain;
    margin: 0 auto;
    width: 190px;
}
.rating {
    font-size: 18px;
}
.price {
    font-size: 24px;
    font-weight: 700;

}
.btn {
    width: 85px;
    height: 39px;
    font-size: 18px;    
    border: none;
    background-color: rgb(188, 188, 188);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
}